img {
    width: 100%;
}


.extra-info{
    
    font-size: 12px;
}




.registered-courses{    
    background: none;
    font-size: 18px;
    color:black;
    margin-bottom:5px;

 height: 220px;
   }

.deletestyle a{
    
    color:red!important;
}

.well {
    width: 100%;
}

.adilwhite {
    background: white;
    padding: 10px;
    border-radius: 8px;
       height: 200px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #2c3e50;
}

.logoLunar {
    height: auto;
    width: 50px;
    margin-top: 5px;
}

.fixed-height {
    height: 40px;
}

.iconBox {
    color: #2c3e50;
}

.margins {
    margin-bottom: 20px;
    margin-top: 20px;
}

.iconBox:hover {
    color: #2c3e50;
}

.bigIcon {
    transition: 0.5s all;
    font-size: 100px;
    text-align: center;
    color: #2c3e50;
}
.class-border {
    width: auto;
    
}

.bigIcon:hover {
    color: #2c3e50;
    transition: 0.5s all;
    transform: scale(1.2, 1.2);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}


/* Custom page CSS
-------------------------------------------------- */

.logo-img {
    width: 80px;
    height: 57px;
    margin-top: 1%;
    margin-right: 5% !important;
}


/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
}

.nav-tabs {
    border-bottom: 1px solid #ccc;
}

.nav-tabs>li.active>p,
.nav-tabs>li.active>p:hover,
.nav-tabs>li.active>p:focus {
    color: #2c3e50;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    cursor: pointer;
}

.nav-tabs>li>p {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>p {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.tabber {
    color: #18bc9c;
    text-decoration: none;
    margin-bottom: 0px;
}

.tabber:hover {
    cursor: pointer;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #f0f0f0 !important;
}

hr {
    margin-top: -0px;
    border-bottom: 1px solid #ddd !important;
}

.fadeIn {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.5s;
    animation: animat_show 0.5s;
    visibility: visible !important;
}

alert {
    animation: disappear 2.5s;
}

@-webkit-keyframes animat_show {
    0% {
        opacity: 0;
        transform: scale(1.05, 1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.jumbotron {
    margin-top: 40px;
    background-image: url(../images/library.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0px 0px 32px black;
}

.bg-library {
    background-image: url(../images/library.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-study {
    background-image: url(../images/students.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-research {
    background-image: url(../images/researcher.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-faculty {
    background-image: url(../images/faculty.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.marginTopExtra {
    margin-top: 120px;
    transition: 0.5s all;
}

.modalMessage {
    animation: animat_show 0.5s;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.25);
    height: 100%
}

.modal-dialog {
    margin-top: 100px;
}

.modal-header {
    background: #18bc9c;
    color: white;
}

.delete-course-icon {
    font-size: 26px;
    float: right!important;
    margin-right: 0%;
}

.search-bar {
    height: 120%!important;
    margin-top: 2%!important;
    margin-bottom: -3%!important;
    /* background-color:silver!important;*/
    position: relative!important;
    width: 100%!important;
}

#shrink-options ul li a {
    background-color: white!important;
    border: 1px solid #e6e6e6;
    color: black;
}

#shrink-options .active a {
    background-color: #2c3e50!important;
    border: 1px solid #e6e6e6;
    color: white;
}

#shrink-options {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}


.custom-label{
    
    padding-top: 10px!important;
}

.disabled{
  display: none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #2c3e50;
    border-color: transparent;
    cursor: default;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 10px 15px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #ffffff;
    background-color: #7697b9;
    border: 1px solid transparent;
    margin-left: -1px;
}

.pagination>li>a:hover {
    background-color: #506080;
}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}

#myModal{
    
    font-size:22px!important;
    
    
}
